
.one div{
  width: 300px;
  margin: 10px auto;
  text-align: center;
  height: 60px;
  line-height: 55px;
  font-weight: bold;
}
.first{
  background-color: #eee;
}
.second{
  background-color: #eee9;
}
:empty{
  background-color: red;
}
