*{
  box-sizing: border-box;
}

.assign-1 div{
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
    background-color: #eee;
    letter-spacing: 4px;
    font-weight: bold;
    border-left: 10px solid #f44336;
    border-right: 10px solid #673ab7;
    position: relative;
}
.assign-1 div::before{
    content: "";
    width: 600px;
    height: 10px;
    position: absolute;
    top: -10px;
    left: -10px;
    background-image: linear-gradient(to right, #f44336 20%, 
                              #2196f3 20%, #2196f3 40%,
                              #4caf50 40%, #4caf50 60%,
                              #e91e63 60%, #e91e63 80%,
                              #673ab7 80%, #673ab7 100%);
}
.assign-1 div::after{
    content: "";
    width: 600px;
    height: 10px;
    position: absolute;
    bottom: -10px;
    left: -10px;
    background-image: linear-gradient(to right, #f44336 20%, 
                                                #2196f3 20%, #2196f3 40%,
                                                #4caf50 40%, #4caf50 60%,
                                                #e91e63 60%, #e91e63 80%,
                                                #673ab7 80%, #673ab7 100%);
}
.assign-1 div::first-letter{
    color: #f44336;
}