table{
  width: 700px;
  margin: 20px auto;
}
table thead td{
  background-color: #404040;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  border-spacing: 1px;
}
tbody td{
  background-color: #eee;
  text-align: center;
  padding: 5px;
  border-spacing: 1px;
}
.view{
  background-color: #03a9f4;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-style: none;
  margin: 10px;
}
.delete{
  background-color: #e91e63;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-style: none;
}
caption{
  font-weight: bold;
  margin: 10px;
}